<!DOCTYPE html>
<html>
<head>
    <title>Arbmageddon</title>
    <script type="text/javascript" src="vis.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <link href="vis.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        .app-container {
            position: absolute;
            height: 100%;
            width: 100%;
        }
        .flex-row {
            display: flex; /* or inline-flex */
            flex-direction: row;
            align-items: stretch;
        }
        .flex-col {
            display: flex; /* or inline-flex */
            flex-direction: column;
            /* height: 100%; */
        }
        .flex-child-grow {
            flex-grow: 1; /* default 0 */
        }
        .header {
            height: 60;
        }
        .left-panel {
            overflow-y: auto;
        }
        .operation {
            margin-right: 3px;
        }
        .selected {
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div id="app-dash" class="app-container flex-col">
        <div class="header">
            <h2>Arbmageddon</h2>
        </div>
        <div class="flex-row flex-child-grow">
            <div class="left-panel">
                <table>
                    <thead>
                        <th>Arb</th>
                        <th>Spread</th>
                    </thead>
                    <tbody>
                        <tr v-for="inst in execution_inst">
                            <td>{{ inst_string(inst) }}</td>
                            <td><button 
                                v-on:click="set_multicharts(inst)"
                                v-bind:class="{ selected: inst.selected }">{{ inst_spread(inst) }}</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex-child-grow">
                <iframe :src="multicharts_url" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
    <script>
        let exch_map = {};
        let last_inst = null;
        const get_coinigy_symbol = function(op){
            return `${exch_map[op.exchange]}:${op.market}${op.hub}`;
        }
        const get_mcc_query_string = function(inst){
            const buy = get_coinigy_symbol(inst.buy);
            const sell = get_coinigy_symbol(inst.sell);
            if(inst.type === 0){ // Buy Spread
                return `?chart=${buy}&chart=${sell}&chart=${sell}-${buy}`;
            }else { // Conversion
                const convert = get_coinigy_symbol(inst.convert);
                if(inst.type === 1){ // Origin Conversion
                    return `?chart=${buy}&chart=${sell}&chart=${convert}&chart=${sell}-${buy}*${convert}`;
                }else if(inst.type === 2){ // Destination Conversion
                    return `?chart=${buy}&chart=${sell}&chart=${convert}&chart=${sell}*${convert}-${buy}`;
                }else{
                    return null;
                }
            }
        }
        const get_inst_string = function(inst){
            const b_hub = `${inst.buy.exchange}:${inst.buy.hub}`;
            const b_mkt = `${inst.buy.exchange}:${inst.buy.market}`;
            const s_hub = `${inst.sell.exchange}:${inst.sell.hub}`;
            const s_mkt = `${inst.sell.exchange}:${inst.sell.market}`;
            if(inst.type === 0){ // Direct
                return `B: ${b_hub}->${b_mkt}->${s_hub}`;
            }else { // Conversion
                const c_hub = `${inst.convert.exchange}:${inst.convert.hub}`;
                const c_mkt = `${inst.convert.exchange}:${inst.convert.market}`;
                if(inst.type === 1){ // Origin Conversion
                    return `OC: ${c_hub}->${c_mkt}->${b_mkt}->${s_hub}`; // (b_mkt/c_hub) = (s_mkt/s_hub) 
                }else if(inst.type === 2){ // Destination Conversion
                    return `DC: ${b_hub}->${s_mkt}->${c_mkt}->${c_hub}`; // (b_mkt/b_hub) = (s_mkt/s_hub)*(c_mkt/c_hub) = (s_mkt/c_hub)
                }else{
                    return null;
                }
            }
        }
        const appDash = new Vue({
            el: '#app-dash',
            data: {
                exchanges: [],
                execution_inst: [],
                multicharts_url: 'https://www.multicoincharts.com/?chart=ETHBTC&chart=XRPETH&chart=XRPBTC&chart=XRPBTC/XRPETH-ETHBTC'
            },
            methods: {
                get_arbs: function() {
                    return new Promise(function(resolve, reject) {
                        Vue.http.get('/arbs').then(response => {
                            appDash.execution_inst = response.body;
                            resolve();
                        }, response => {
                            reject();
                        });
                    });
                },
                get_exchanges: function(){
                    return new Promise(function(resolve, reject) {
                        Vue.http.get('/graph/exchanges').then(response => {
                            appDash.exchanges = response.body;
                            exch_map = appDash.exchanges.reduce(function(map, exch){
                                map[exch.id] = exch.name;
                                return map;
                            }, {});
                            resolve();
                        }, response => {
                            reject();
                        });
                    });
                },
                inst_spread: function(i) { return `${(i.spread*100).toFixed(2)}%`; },
                inst_string: function(inst){
                    return get_inst_string(inst);
                },
                set_multicharts: function(inst){
                    const query_string = get_mcc_query_string(inst);
                    appDash.multicharts_url = `https://www.multicoincharts.com/${query_string}`;
                    inst.selected = true;
                    if(last_inst && last_inst.selected){
                        last_inst.selected = false;
                    }
                    last_inst = inst;
                }
            }
        });
        appDash
            .get_exchanges()
            .then(function(){
                return appDash.get_arbs();
            })
            .then(function(){
                appDash.set_multicharts(appDash.execution_inst[0]);
            });
    </script>
</body>
</html>